* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-variant: normal;
    color: #333;
    background: #001A26;
}

table {
    /*border-style: none;*/
    border-collapse: collapse;
    margin: 30 auto;
}

tr:nth-child(odd) {
    background-color: #D4D4D4;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}

td{
    border-style: none;
    padding: 0 15;
}
